<div class="span3 offset1">
  <%= form_tag send_mail_invites_path, :method => 'get'    do%>
      <fieldset>
        <legend>Invites Friends</legend>
        <p>
          Enter Friend's email<br />
          <%= text_area_tag "email",nil, :class => 'email'%>
        </p>
        <span class="help-block">eg. pansinghtomar@yopmail.com.</span>
        <p><%= submit_tag 'Invites' %></p>
      </fieldset>
  <% end %>
</div>

<script type="text/javascript">
//    $(document).ready(function(){
//        $('#id').tokenInput('/invites/search_emails.json', {
//            crossDomain: false,
//            prePopulate: $("#id").data("pre" )
//        });
//    });
$(document).ready(function() {
    $('textarea.email').tokenField();
});
</script>