<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1 id="home-title">Welcome To WeboWorld!</h1>
  <p style="text-align: justify;">WeboWorld is a social networking service launched in February 2013, owned and operated by WeboWorld, As of Jan 2013,
    WeboWorld has over one billion active users, more than half of them using WeboWorld on a mobile device. Users must register
    before using the site, after which they may create a personal profile, add other users as friends, and exchange messages,
    including automatic notifications when they update their profile. Additionally, users may join common-interest user groups,
    organized by workplace, school or college, or other characteristics, and categorize their friends into lists such as
    "People From Work" or "Close Friends".</p>
  <%if user_signed_in?  %>
      <p><%=link_to "Sign Up »", new_user_registration_path, :class => "btn btn-primary btn-large" %></p>
  <% end %>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2>Invite Friends</h2>
    <p style="text-align: justify;">"Friending" someone is the act of sending another user a friend request on WeboWorld. Once the friend request is set,
      the two people are WeboWorld friends once the receiving party accepts the friend request. In addition to accepting the
      request, the user has the option of declining the friend request or hiding it using the "Not Now" feature. </p>
    <!--<p><a class="btn" href="#">View details »</a></p>-->
  </div>
  <div class="span4">
    <h2>Post Ur Activity</h2>
    <p style="text-align: justify;">WeboWorld is a social media site for you to connect to friends, share pictures, and become more social. On April 5, 2008,
      WeboWorld pre-released WeboWorld Chat.As of April 23, 2008, WeboWorld Chat was released to the entire WeboWorld user base.
      Users may chat with their WeboWorld friends on a one-to-one basis. </p>
    <!--<p><a class="btn" href="#">View details »</a></p>-->
  </div>
  <div class="span4">
    <h2>Funny comments</h2>
    <p style="text-align: justify;">Initially, the addition of the News Feed caused some discontent among WeboWorld users. Many users complained that the News
      Feed was too cluttered and full of undesired information. Others were concerned that the News Feed made it too easy for other
      people to track activities like changes in relationship status, events, and conversations with other users.</p>
    <!--<p><a class="btn" href="#">View details »</a></p>-->
  </div>
</div>

<hr>