<div class="span3">
<%= form_for @post, :url => user_posts_path(@user.id), :method => :post  do |f| %>
    <fieldset>
      <legend>Create Post</legend>
      <%= f.text_area :description, :size => '60x3',:placeholder => "Would you like to say something..." %>
      <span class="help-block">eg. Had great weekend at Home.</span>
      <%= f.submit "Post"%>
    </fieldset>
<% end %>
</div>