/*Body*/
body{
    background-color: #e5e6e7;
}
/*index.html*/
#home-title{
color: rgb(243, 48, 102);
}

/*Header*/
#webo-navbar-inner{

}
#webo-navbar #webo-brand{
    color: #ffffff;
}
#webo-navbar-inner{
    background-image: -webkit-linear-gradient(top, #862e5e, #772953);
}
.navbar .nav > li > a{
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    color: #ffffff;
    text-shadow: none;
}
/*ServerSide error*/
#error_explanation > h2{
    font-size: 15px;
    color: #dd4814;
}

#error_explanation ul li {
    float: none; color: red; padding-left: .5em;
}

/*front end validation*/
.LV_validation_message{
    font-weight:bold;
    margin:0 0 0 5px;
}

.LV_valid {
    color:#00CC00;
}

.LV_invalid {
    color:#CC0000;
}

.LV_valid_field,
input.LV_valid_field:hover,
input.LV_valid_field:active,
textarea.LV_valid_field:hover,
textarea.LV_valid_field:active {
    border: 1px solid #00CC00;
}

.LV_invalid_field,
input.LV_invalid_field:hover,
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover,
textarea.LV_invalid_field:active {
    border: 1px solid #CC0000;
}
/*footer*/
#webo_footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #772953;
    height: 60px;
}

.webo_footer_container  {
    display: block;
}

.webo_muted{
    float: right;
    margin-right: 0px;
    color: #000000;
    margin-top: 35px;
}

/*legend*/
.the-legend {
    border-style: none;
    border-width: 0;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 0;
}
.the-fieldset {
    border: 2px groove threedface #444;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
    border-radius: 32px;
}

.well{
    background-color: #FDFCFC;
}
/*index post page*/
#webo-delete-link {
    float: right;
    margin-top: 10px;
    font-size: 12px;
}

.webo-image {
    float: left;
    margin: 10px 10px 10px 37px;
    border: 3px ridge #D7EBFF;
}
#webo-show-comment-link{
    float: right;
    margin-top: 27px;
    font-size: 12px;
    margin-right: -35px;
}
.webo-timstamp-index {
    margin-top: -37px;
    margin-right: -88px;
}
.webo-timstamp-show {
    margin-top: -7px;
    margin-right: -36px;
}

.auther-post-name-index {
    float: right;
    margin-top: 23px;
    margin-right: -90px;
    font-family: verdana;
    color: darkcyan;
}
.auther-post-name-show {
    float: right;
    margin-top: 23px;
    margin-right: -34px;
    font-family: verdana;
    color: darkcyan;
}
/* posts */

.posts {
    list-style: none;
    margin: 10px 0 0 0;
}

.posts li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    line-height: 25px;
    margin-left: 6px;
}

.posts .content {
    display: block;
    margin-top: 10px;
    margin-left: 57px;
    font-size: 18px;
    color: #424242;
}
.posts .timestamp {
    color: #d3d3d3;
    font-size: 13px;
    float: right;
}
/*post-new-form*/
#webo-new-post-submit-btn{
    padding-top: 6px;
}

/*comment form */
#webo-comment-textarea{
    height: 46px;
    width: 428px;
}

p input[type="submit"] {
    float: right;
    margin-right: 29px;

    display: inline-block;
    padding: 4px 14px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    border: 1px solid #bbbbbb;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
}

/*comment and reply*/
.margin-comments {
    list-style: none;
    margin: 0;
    margin-bottom: 40px;
}

.margin-comments .comment {
    margin-bottom: 15px;
}

li {
    line-height: 18px;
}

::selection {
    background-color: #E64946 !important;
    color: #fff;
}

.margin-comments {
    list-style: none;
}

#comments .avatar {
    float: right;
    width: auto;
    display: block;
    margin-left: 15px;
    margin-bottom: 15px;
}

.comment-author-link {
    display: inline-block;
    margin-right: 10px;
    float: left;
}

.comment-date-link {
    font-size: 11px;
    color: #A8A8A8;
    display: inline-block;
    font-style: italic;

}

.first-comment p {
    color: rgb(218, 69, 111);
    margin-top: 15px;
    font-weight: bold;
}

p {
    margin-bottom: 15px;
}
.replay-buttton {
    position: absolute;
    left: 0;
    bottom: 0;
}
.depth-1 > [id^="comment-"], .depth-1 > [id*=" comment-"] {
    padding-bottom: 25px;
}
[id^="comment-"], [id*=" comment-"] {
    border: 1px solid #EBECED;
    padding: 15px;
    background: #f5f5f5;
    position: relative;
}

.first-comment {
    padding-top: 15px;
    border-bottom: 1px solid #E7E7E7;
    font-weight: bold;
}

a.comment-reply-link {
    padding: 3px 5px;
    text-transform: uppercase;
    font-size: 11px;
    background-color: black;
    color: white;
    display: inline-block;
}

/*replay*/
ul.children {
    list-style: none;
}

ul.children {
    padding-bottom: 0;
    margin-bottom: 0;
}

.depth-2 {
    margin-top: 15px;
}

