/*Header*/
#webo-navbar-inner{

}
#webo-navbar #webo-brand{
    color: #ffffff;
}
#webo-navbar-inner{
    background-image: -webkit-linear-gradient(top, #862e5e, #772953);
}
.navbar .nav > li > a{
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    color: #ffffff;
    text-shadow: none;
}
/*ServerSide error*/
#error_explanation > h2{
    font-size: 15px;
    color: #dd4814;
}

#error_explanation ul li {
    float: none; color: red; padding-left: .5em;
}

/*front end validation*/
.LV_validation_message{
    font-weight:bold;
    margin:0 0 0 5px;
}

.LV_valid {
    color:#00CC00;
}

.LV_invalid {
    color:#CC0000;
}

.LV_valid_field,
input.LV_valid_field:hover,
input.LV_valid_field:active,
textarea.LV_valid_field:hover,
textarea.LV_valid_field:active {
    border: 1px solid #00CC00;
}

.LV_invalid_field,
input.LV_invalid_field:hover,
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover,
textarea.LV_invalid_field:active {
    border: 1px solid #CC0000;
}
/*footer*/
#webo_footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #772953;
    height: 60px;
}

.webo_footer_container  {
    display: block;
}

.webo_muted{
    float: right;
    margin-right: 0px;
    color: #000000;
    margin-top: 35px;
}

/*legend*/
.the-legend {
    border-style: none;
    border-width: 0;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 0;
}
.the-fieldset {
    border: 2px groove threedface #444;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
    border-radius: 32px;
}

.well{
    background-color: #FDFCFC;
}

/* posts */

.posts {
    list-style: none;
    margin: 10px 0 0 0;
}

.posts li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    line-height: 20px;
}

.posts .content {
    display: block;
    margin-top: 15px;
    font-size: 18px;
    color: #424242;

}
.posts .timestamp {
    color: #d3d3d3;
    font-size: 13px;
    float: right;
    margin-right: 100px;
}
