<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<script type="text/javascript">
    $(document).ready(function() {
        var user_email = new LiveValidation('user_email');
        user_email.add( Validate.Email );
        user_email.add( Validate.Presence );
    });
</script>
